#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        mod_bang_1: mod_bang_1 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_BANG_1";
            bindings = <&kp EXCLAMATION>, <&kp N1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_LBkt_2: mod_LBkt_2 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_LBKT_2";
            bindings = <&kp LBKT>, <&kp N2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_LP_3: mod_LP_3 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_LP_3";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp N3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_LBRC_4: mod_LBRC_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_LBRC_4";
            bindings = <&kp LEFT_BRACE>, <&kp NUMBER_4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_Hash_5: mod_Hash_5 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_HASH_5";
            bindings = <&kp POUND>, <&kp N5>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_Amp_6: mod_Amp_6 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_AMP_6";
            bindings = <&kp AMPERSAND>, <&kp N6>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_RBRC_7: mod_RBRC_7 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_RBRC_7";
            bindings = <&kp RIGHT_BRACE>, <&kp N7>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_RP_8: mod_RP_8 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_RP_8";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp N8>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_RBKT_9: mod_RBKT_9 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_RBKT_9";
            bindings = <&kp RIGHT_BRACKET>, <&kp N9>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_Dol_0: mod_Dol_0 {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_DOL_0";
            bindings = <&kp DOLLAR>, <&kp N0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_AT_PCT: mod_AT_PCT {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_AT_PCT";
            bindings = <&kp AT_SIGN>, <&kp PERCENT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_Astx_Car: mod_Astx_Car {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_ASTX_CAR";
            bindings = <&kp ASTERISK>, <&kp CARET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_BS_Del: mod_BS_Del {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_BS_DEL";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1     &kp N2  &kp N3  &kp N4  &kp N5  &kp PRINTSCREEN                                                 &mo 3              &kp N6  &kp N7  &kp N8     &kp N9            &kp N0             &kp MINUS
&kp TAB    &kp Q      &kp W   &kp E   &kp R   &kp T   &none                                                           &none              &kp Y   &kp U   &kp I      &kp O             &kp P              &kp BSLH
&kp ESC    &kp A      &kp S   &kp D   &kp F   &kp G   &kp LG(LC(LEFT))  &kp LCTRL  &kp LALT      &kp LGUI  &kp RCTRL  &kp LG(LC(RIGHT))  &kp H   &kp J   &kp K      &kp L             &kp SEMI           &kp SQT
&kp LSHFT  &kp Z      &kp X   &kp C   &kp V   &kp B                                &kp HOME      &none                                   &kp N   &kp M   &kp COMMA  &kp DOT           &kp FSLH           &kp RSHFT
&mo 2      &kp GRAVE  &none   &none   &none           &mod_BS_Del       &mo 1      &kp END       &none     &kp ENTER  &kp SPACE                  &none   &none      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &mo 2
            >;
        };

        Navigation {
            bindings = <
&trans  &kp C_VOL_DN  &kp C_PREV  &kp C_PP       &kp C_NEXT  &kp C_VOL_UP  &kp C_MUTE                                      &trans  &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans        &trans      &trans         &trans      &trans        &trans                                          &trans  &trans          &kp PAGE_UP     &trans        &trans           &trans  &trans
&trans  &trans        &trans      &kp PAGE_DOWN  &trans      &trans        &trans      &trans  &trans      &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans        &trans      &trans         &trans      &trans                            &trans      &trans                  &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans        &trans      &trans         &trans                    &trans      &trans  &trans      &trans  &trans  &trans                  &trans          &trans        &trans           &trans  &trans
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 0                                      &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        extra1 {
            display-name = "Red";
            status = "reserved";
        };

        extra2 {
            display-name = "Purple";
            status = "reserved";
        };

        extra3 {
            display-name = "Cyan";
            status = "reserved";
        };

        extra4 {
            display-name = "Yellow";
            status = "reserved";
        };
    };
};
